.container {
  height: 100%;
  padding: 1rem;

  .profile__container {
    background-color: var(--ion-background-color-2);

    display: flex;

    justify-content: start;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px var(--ion-background-color-2);
    .profile__image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 3rem;
      }
    }
    .profile__info {
      h2 {
        margin: 0;
      }
    }
  }
  .option__container {
    padding: 15px 20px;
    background-color: var(--ion-background-color-2);

    .option__item {
      margin-bottom: 10px;
      padding: 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: start;
      gap: 10px;
      align-items: center;
      ion-toggle {
        width: 100%;
        font-size: 1rem;
      }
      button {
        background: none;
        text-align: start;
        font-size: 1rem;
        color: var(--ion-text-color);
      }
      ion-icon {
        font-size: 2rem;
      }
    }
  }
}
