<ion-content [fullscreen]="true">
  <div class="analytics__container">
    <div class="chart-container">
      <canvas id="lineChart" class="lineChart"></canvas>
      <p class="note">
        Note that the DNF records won't be reflected on the graph.
      </p>
    </div>
    <div class="table-container">
      <table class="table" *ngIf="analytics != null">
        <thead>
          <tr>
            <th>Category</th>
            <td>3x3x3 Rubik's Cube</td>
          </tr>
        </thead>
        <tbody>
          <tr class="odd">
            <th>Average</th>
            <td>{{ analytics.average.toFixed(2) }}</td>
          </tr>
          <tr class="even">
            <th>Best</th>
            <td>{{ analytics.best.toFixed(2) }}</td>
          </tr>
          <tr class="odd">
            <th>Slowest</th>
            <td>{{ analytics.slowest.toFixed(2) }}</td>
          </tr>
          <tr class="even">
            <th>DNF</th>
            <td>{{ analytics.dnf }}</td>
          </tr>
          <tr class="odd">
            <th>Count</th>
            <td>{{ analytics.count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
