<!-- @format -->

<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button
                    expand="full"
                    (click)="setTutorial()"
                    [disabled]="this.tutorial == 'OLL'">
                    OLL
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button
                    expand="full"
                    (click)="setTutorial()"
                    [disabled]="this.tutorial == 'PLL'">
                    PLL
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row *ngFor="let row of getRows()">
            <ng-container *ngFor="let item of row">
                <ion-col>
                    <div class="tutorial__content">
                        {{item.name}}
                        <div class="img__container">
                            <img src="{{item.image}}" alt="{{item.image}}" />
                        </div>
                    </div>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>
</ion-content>
