<!-- @format -->

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          expand="full"
          (click)="setTutorial()"
          [disabled]="this.tutorial == 'OLL'"
        >
          OLL
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          expand="full"
          (click)="setTutorial()"
          [disabled]="this.tutorial == 'PLL'"
        >
          PLL
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="tutorial__container">
    <ng-container class="col" *ngFor="let item of filteredTutorial">
      <div class="tutorial__content" (click)="setOpen(true, item)">
        <h5>{{item.name}}</h5>
        <div class="img__container">
          <img src="{{item.image}}" alt="{{item.image}}" />
        </div>
      </div>
    </ng-container>
  </div>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{item.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, 'null')">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="tutorial">
          <img src="{{item.image}}" alt="{{item.image}}" />

          <div class="content">
            <h3 class="name">{{item.name}}</h3>
            <h5 class="algorithm">{{item.scramble}}</h5>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
