<!-- @format -->

<ion-content [fullscreen]="true">
    <div class="signup__container">
        <form (ngSubmit)="signup()">
            <div class="logo__container">
                <img src="assets/img/logo.png" alt="logo" />
                <span>gizmotwist</span>
            </div>

            <div class="title__container">
                <h1>Sign Up</h1>
            </div>

            <div class="error__container" *ngIf="isIncorrect === true">
                <ion-text color="danger">
                    <ion-icon name="alert-circle-outline"></ion-icon>
                    {{ errorMessage }}
                </ion-text>
            </div>

            <div class="input__container">
                <ion-label position="floating">Email Address</ion-label>
                <ion-input
                    type="email"
                    fill="outline"
                    id="email"
                    [(ngModel)]="email"
                    name="email"
                    placeholder="Email Address"
                    required></ion-input>
            </div>

            <div class="input__container">
                <ion-label position="floating">Password</ion-label>
                <ion-input
                    type="password"
                    fill="outline"
                    id="password"
                    [(ngModel)]="password"
                    name="password"
                    placeholder="Password"
                    required></ion-input>
            </div>
            <div class="input__container">
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input
                    type="password"
                    fill="outline"
                    id="confirmPassword"
                    [(ngModel)]="confirmPassword"
                    name="confirmPassword"
                    placeholder="Confirm Password"
                    required></ion-input>
            </div>
            <div class="input__container">
                <ion-checkbox
                    id="checkbox"
                    labelPlacement="end"
                    [(ngModel)]="isParticipated"
                    name="isParticipated">
                    Have you participated in any PCA events?
                </ion-checkbox>
            </div>
            <ion-button type="submit" expand="full" color="primary">
                Sign Up
            </ion-button>
            <p class="background"><span>Aleady have an account?</span></p>
            <ion-button
                type="button"
                expand="full"
                color="success"
                routerLink="/login">
                Login
            </ion-button>
        </form>
    </div>
</ion-content>
